.root {
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  padding: 96px 46px;
  background-color: #00bdd6;
  overflow: hidden;
}
.profile_container1 {
  flex: 1;
  align-self: stretch;
  justify-content: center;
  align-items: center;
  padding: 111px 48px;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  &__profile_details_container {
    width: min-content;
    height: min-content;
    justify-content: center;
    align-items: center;
    gap: 64px;
    &__image {
      width: 400px;
      height: 400px;
      border-radius: 50%;
      background-image:/* webpackIgnore: true */ url("/assets/image.jpeg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow:
        0px 8px 17px 0px #171a1f26,
        0px 0px 2px 0px #171a1f1f;
    }
    &__profile_information {
      width: min-content;
      height: min-content;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      &__name {
        color: #171a1f;
        font-size: 32px;
        line-height: 48px;
        font-family:
          Epilogue,
          system-ui,
          -apple-system,
          "Segoe UI",
          Roboto,
          "Helvetica Neue",
          Arial,
          "Noto Sans",
          "Liberation Sans",
          sans-serif;
        width: min-content;
        height: min-content;
        white-space: nowrap;
        flex-direction: column;
        transform: matrix(1, 0, 0, 1, 0, 0);
      }
      &__role {
        color: #171a1f;
        font-size: 24px;
        line-height: 36px;
        font-family:
          Inter,
          system-ui,
          -apple-system,
          "Segoe UI",
          Roboto,
          "Helvetica Neue",
          Arial,
          "Noto Sans",
          "Liberation Sans",
          sans-serif;
        width: min-content;
        height: min-content;
        white-space: nowrap;
        flex-direction: column;
        transform: matrix(1, 0, 0, 1, 0, 0);
      }
      &__description {
        color: #171a1f;
        font-size: 16px;
        line-height: 19px;
        font-family:
          Inter,
          system-ui,
          -apple-system,
          "Segoe UI",
          Roboto,
          "Helvetica Neue",
          Arial,
          "Noto Sans",
          "Liberation Sans",
          sans-serif;
        width: 462px;
        height: 120px;
        flex-direction: column;
        transform: matrix(1, 0, 0, 1, 0, 0);
      }
      &__more_details {
        width: 625px;
        height: min-content;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;
        gap: 36px 25px;
        &__textboxEmail {
          position: relative;
          width: 300px;
          height: 50px;
          flex-direction: column;
          align-items: flex-start;
          border-radius: 6px;
          background-color: #f3f4f6;
          &__mail {
            position: absolute;
            left: 16px;
            top: calc(50% - -0.5px);
            width: 20px;
            height: 20px;
            transform: translateY(-50%);
            &__icon {
              width: 100%;
              height: 100%;
            }
          }
          &__johndoeGmailCom {
            color: #bcc1ca;
            font-size: 16px;
            line-height: 26px;
            font-family:
              Inter,
              system-ui,
              -apple-system,
              "Segoe UI",
              Roboto,
              "Helvetica Neue",
              Arial,
              "Noto Sans",
              "Liberation Sans",
              sans-serif;
            position: absolute;
            left: calc(50% - 11.5px);
            top: 50%;
            width: 167px;
            height: min-content;
            flex-direction: column;
            transform: translate(-50%, -50%);
          }
        }
        &__textboxLocation {
          position: relative;
          width: 300px;
          height: 50px;
          flex-direction: column;
          align-items: flex-start;
          border-radius: 6px;
          background-color: #f3f4f6;
          &__pin3 {
            position: absolute;
            left: 16px;
            top: calc(50% - -0.5px);
            width: 20px;
            height: 20px;
            transform: translateY(-50%);
            &__icon2 {
              width: 100%;
              height: 100%;
            }
          }
          &___766HoustonStreet {
            color: #bcc1ca;
            font-size: 16px;
            line-height: 26px;
            font-family:
              Inter,
              system-ui,
              -apple-system,
              "Segoe UI",
              Roboto,
              "Helvetica Neue",
              Arial,
              "Noto Sans",
              "Liberation Sans",
              sans-serif;
            position: absolute;
            left: 44px;
            right: 94px;
            top: calc(50% - -1px);
            height: min-content;
            flex-direction: column;
            transform: translateY(-50%);
          }
        }
        &__textboxMobile {
          position: relative;
          width: 300px;
          height: 50px;
          flex-direction: column;
          align-items: flex-start;
          border-radius: 6px;
          background-color: #f3f4f6;
          &__phone {
            position: absolute;
            left: 16px;
            top: calc(50% - -0.5px);
            width: 20px;
            height: 20px;
            transform: translateY(-50%);
            &__icon3 {
              width: 100%;
              height: 100%;
            }
          }
          &__johndoeGmailCom2 {
            color: #bcc1ca;
            font-size: 16px;
            line-height: 26px;
            font-family:
              Inter,
              system-ui,
              -apple-system,
              "Segoe UI",
              Roboto,
              "Helvetica Neue",
              Arial,
              "Noto Sans",
              "Liberation Sans",
              sans-serif;
            position: absolute;
            left: calc(50% - 11.5px);
            top: 50%;
            width: 167px;
            height: min-content;
            flex-direction: column;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  /* iPad View */
  .profile_container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 55px 24px;
    flex: 8;

    &__profile_details_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 32px;

      &__image {
        width: 200px;
        height: 200px;
      }

      &__profile_information {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__name {
          font-size: 16px;
          line-height: 24px;
        }

        &__role {
          font-size: 12px;
          line-height: 18px;
        }

        &__description {
          font-size: 8 px;
          line-height: 9.5 px;
          width: 231 px;
          height: 60 px;
          text-align: center;
        }

        &__more_details {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 312.5px;
          gap: 18px 12.5px;

          &__textboxEmail,
          &__textboxLocation,
          &__textboxMobile {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 150px;
            height: 25px;

            &__mail,
            &__pin3,
            &__phone {
              width: 10px;
              height: 10px;
            }

            &__johndoeGmailCom,
            &___766HoustonStreet,
            &__johndoeGmailCom2 {
              font-size: 8px;
              line-height: 13px;
              width: 83.5px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .profile_container1 {
    padding: 46px 29px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 8;

    &__profile_details_container {
      flex-direction: column;
      gap: 24px;
      align-items: center;
      padding: 55px 24px;

      &__image_name_role {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;

        &__image {
          width: 120px;
          height: 120px;
          // border-radius: 50%;
          margin: 0 auto;
        }

        &__text_container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          &__name {
            font-size: 16px;
            line-height: 24px;
            text-align: center;
          }

          &__role {
            font-size: 12px;
            line-height: 18px;
            text-align: center;
          }
        }
      }

      &__profile_information {
        gap: 12px;
        padding: 0 12px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__description {
          font-size: 8px;
          line-height: 10px;
          width: 243px;
          height: 60px;
          text-align: center;
        }

        &__more_details {
          flex-direction: column;
          width: 244px;
          gap: 12px;
          align-items: center;

          &__textboxEmail,
          &__textboxMobile,
          &__textboxLocation {
            width: 244px;
            height: 31px;
            padding: 10px 8px;
            margin: 12px auto 0 auto;
            display: flex;
            justify-content: center;

            &__email_Icon,
            &__phone_Number,
            &__location_Icon {
              width: 10px;
              height: 10px;
            }

            &__email,
            &___9999999999,
            &__address {
              font-size: 8px;
              line-height: 13px;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
